@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* cursor: none; */
  }

  body {
    overflow-x: hidden;
    background-color: #000;
  }

  @layer utilities {
    .hover-underline {
        @apply relative
    }

    .hover-underline::after {
        @apply content-[''] bg-white h-[1px] -bottom-1 w-[0] left-0 absolute duration-500
    }

    .hover-underline:hover::after {
        @apply w-full
    }
  }


  
  @font-face {
      font-family: "Neue Montreal";
      src: url("/fonts/NeueMontreal-Regular.otf");
  }
  @font-face {
      font-family: "Neue Montreal Bold";
      src: url("/fonts/NeueMontreal-Bold.otf");
  }
  @font-face {
      font-family: "Neue Montreal Light";
      src: url("/fonts/NeueMontreal-Light.otf");
  }
  @font-face {
      font-family: "Neue Montreal Medium";
      src: url("/fonts/NeueMontreal-Medium.otf");
  }
  @font-face {
      font-family: "Moon claw";
      src: url("/fonts/Moonclaw.otf");
  }
  @font-face {
      font-family: "Tusker Grotesk";
      src: url("/fonts/TuskerGrotesk-2.ttf");
  }
  
  body {
    /* font-family: Moon claw, sans-serif; */
    font-family: Neue Montreal, sans-serif;
  }
